<div class='w-full h-full' >
  <%= form_with url: organization_finalize_checkout_path(@organization&.org_id || params[:organization_org_id], params[:order_id]), method: :post, local: true, authenticity_token: true, class: "flex flex-col-reverse sm:flex-row flex-1 justify-center gap-6 p-3 h-full" do |f| %>
    <div class="overflow-y-auto flex-1">
      <%@item_settings.each_with_index do |i, index| %>
        <%= render partial: 'checkout_item', locals:  { item: i, index: index }  %>
      <%end %>
    </div>
    <div class="card sm:w-sm h-fit bg-base-100 card-md shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Checkout Summary</h2>
        <ul class="list summary">
          <% @item_settings.each do |item|%>
            <li class="flex justify-between">
              <span class="text-slate-400 text-base"><%=item["item_name"]%></span>
            </li>
          <% end %>
          <li class="flex justify-between">
            <span class="text-lg font-semibold">Different Items</span>
            <span id="total-items" class="text-lg font-semibold"><%= @item_settings.length %></span>
          </li>
        </ul>
        <div class="divider"></div>
        <div>
          <label class="label">Return Date</label>
          <%= f.datetime_local_field :return_date, value: @order_date || DateTime.tomorrow.strftime('%Y-%m-%dT%H:%M'), class: 'input w-full validator', required: true, disabled: @already_ordered %>
        </div>
        <% if @already_ordered %>
          <div class="divider"></div>
          <p><b>Current Status</b>: <%= @order_info.order_type %> </p>
        <% end%>
        <% if @already_ordered && @order_date %>
          <p><b>Return By</b>: <%= @order_date %> </p>
        <% end%>
        <div class="flex flex-col-reverse sm:flex-row justify-between gap-2 sm:gap-0 mt-4">
          <% unless @already_ordered %>
            <%= link_to "Delete Order",
            organization_destroy_checkout_path(@organization&.org_id || params[:organization_org_id], params[:order_id]),
            method: :delete,
            class: "btn btn-soft btn-error" %>
            <%= f.submit "Checkout", class: "btn btn-primary" %>
          <%end%>
        </div>
      <% end %>
      <% if @already_ordered %>
        <div>
          <% if @order_info.order_type == "reserved" %>
            <%= button_to "Mark Returned",
            organization_mark_returned_checkout_path(@organization&.org_id || params[:organization_org_id], params[:order_id]),
            method: :post,
            class: "btn btn-primary w-full" %>
          <% end %>
          <%= button_to "Order Again",
              organization_recreate_order_path(@organization&.org_id || params[:organization_org_id], params[:order_id]),
              method: :post,
              class: "btn btn-primary w-full mt-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
