<div class="flex flex-row gap-3"   >
  <label class="mt-2 btn btn-circle swap">
    <input type="checkbox" />
    <%= heroicon 'heart', variant: :solid, options: { class: 'size-4 swap-on' } %>
    <%= heroicon 'heart', variant: :outline, options: { class: 'size-4 swap-off' } %>
  </label>
  <div class="collapse bg-base-100 border-base-300 border collapse-arrow flex-1">
    <input type="checkbox" />
    <div class="collapse-title font-semibold flex flex-col sm:flex-row justify-between ">
      <h1 >Order #<%= order.order_id %> </h1>
      <h1 ><%= order.order_date.strftime('%m/%d/%Y') %></h1>
    </div>
    <div class="collapse-content  ">
      <ul class="list mb-3">
        <li class="flex justify-between ">
          <span class=" font-bold" >Order Date</span>
          <span class="label"><%= order.order_date.strftime('%b %d, %Y %I:%M %p') %></span>
        </li>
        <li class="flex justify-between ">
          <span class=" font-bold" >Order Type</span>
          <span class="label"><%= order.order_type || 'Standard' %></span>
        </li>
        <li class="flex justify-between ">
          <span class=" font-bold" >Total Items</span>
          <span class="label"><%= order.order_details.sum(:item_count) %></span>
        </li>
      </ul>
      <div class="flex flex-col gap-2">
        <% order.order_details.includes(item_detail: :item_settings).each do |order_detail| %>
          <%= render partial: 'order_item', locals: { order_detail: order_detail } %>
        <% end %>
      </div>
      <%= link_to 'View Order', organization_checkout_path(organization_org_id: order.owner_org_id, order_id: order.order_id), class: 'btn btn-primary mt-2 w-full' %>
    </div>
  </div>
</div>
