<div class="flex flex-col gap-2">
  <h1 class="text-2xl">New Organization</h1>

  <%= form_with model: [:admin, @organization] do |form| %>
    <div class="gap-2">
      <%= form.label :org_name %>
      <%= form.text_field :org_name, class: 'border'%>
      <br/>
      <%= form.label :org_location %>
      <%= form.text_field :org_location, class: 'border' %>
      <br/>
      <%= form.label :public_access %>
      <%= form.check_box :public_access %>
      <br/>
      <%= form.label :org_pwd, "Org password (optional)" %>
      <%= form.text_field :org_pwd, class: 'border'%>
    </div>
    <div class='btn btn-sm btn-primary w-max mt-2'>
      <%= form.submit%>
    </div>
  <% end %>

  <%= link_to "Cancel", admin_organizations_path, class:'btn btn-sm btn-primary' %>
</div>